<section id="about">

    <h2 class="section-title">
        Sobre mí
    </h2>
    <div class="about-container">

        <div class="about-grid">

            <p>
                Soy un desarrollador enfocado en crear aplicaciones web modernas,
                combinando buenas prácticas de desarrollo, diseño limpio y soluciones
                eficientes.
                <br><br>
                Me especializo en construir interfaces intuitivas y sistemas funcionales
                que aporten valor real a cada proyecto.
            </p>

            <div class="photo">
                <img src="/profile.jpg" alt="Foto de perfil" class="profile-image">
            </div>
            <div class="skills">

                <div class="skill-card">
                    <i class="bi bi-code-slash"></i>
                    Angular
                </div>

                <div class="skill-card">
                    <i class="bi bi-database"></i>
                    SQL
                </div>

                <div class="skill-card">
                    <i class="bi bi-terminal"></i>
                    Node.js
                </div>

                <div class="skill-card">
                    <i class="bi bi-git"></i>
                    Git
                </div>

            </div>



        </div>
    </div>
</section>