<section id="hero" class="hero">

    <div class="hero-content">

        <p class="subtitle">
            FULLSTACK DEVELOPER
        </p>

        <h1>
            Diego Lopez
        </h1>

        <h2>
            Construyo aplicaciones web modernas y minimalistas.
        </h2>

        <div class="hero-buttons">

            <a href="#projects" class="btn-primary">
                Ver proyectos
            </a>

            <a href="#contact" class="btn-secondary">
                Contacto
            </a>

        </div>

    </div>

</section>