<section id="hero" class="hero">

    <div class="hero-content">

        <p class="subtitle">
            FULLSTACK DEVELOPER
        </p>

        <h1>
            Diego Lopez
        </h1>

        <h2>
            Desarrollo aplicaciones web modernas,
            escalables y enfocadas en ofrecer una
            excelente experiencia de usuario.
        </h2>
        <p>
            <span class="highlight">React</span> | <span class="highlight">Next.js</span> | <span
                class="highlight">Node.js</span> | <span class="highlight">Express</span> | <span
                class="highlight">MongoDB</span>
        </p>
        <ul>
            <li>
                +3 años aprendiendo desarrollo web
            </li>
            <li>
                +2 años de experiencia profesional
            </li>
            <li>
                +5 tecnologías principales
            </li>
            <li>
                100% enfoque en soluciones web
            </li>
        </ul>

        <div class="hero-buttons">

            <a href="#projects" class="btn-primary">
                Ver proyectos
            </a>

            <a href="#contact" class="btn-secondary">
                Contacto
            </a>

        </div>

    </div>

</section>