.section-title {
  font-size: 3rem;

  margin-bottom: 60px;

  position: relative;
}

.section-title::after {
  content: '';

  width: 80px;
  height: 4px;

  background: #00bcd4;

  position: absolute;
  left: 0;
  bottom: -15px;
}
