<section id="services">

    <h2 class="section-title">
        Tecnologías y habilidades
    </h2>


    <div class="services-layout">


        <div class="services-description">

            <h1>
                Soluciones web modernas
            </h1>


            <h3>
                Tecnologías con las que trabajo para crear aplicaciones
                web modernas y soluciones personalizadas.
            </h3>


        </div>



        <div class="skills-chart">


            <div class="skill">

                <div class="skill-header">
                    <span>
                        Angular
                    </span>

                    <span>
                        90%
                    </span>
                </div>


                <div class="bar">

                    <div class="progress angular"></div>

                </div>

            </div>



            <div class="skill">

                <div class="skill-header">

                    <span>
                        SQL
                    </span>

                    <span>
                        90%
                    </span>

                </div>


                <div class="bar">

                    <div class="progress sql"></div>

                </div>

            </div>



            <div class="skill">

                <div class="skill-header">

                    <span>
                        PHP
                    </span>

                    <span>
                        80%
                    </span>

                </div>


                <div class="bar">

                    <div class="progress php"></div>

                </div>

            </div>



            <div class="skill">

                <div class="skill-header">

                    <span>
                        JavaScript
                    </span>

                    <span>
                        60%
                    </span>

                </div>


                <div class="bar">

                    <div class="progress javascript"></div>

                </div>

            </div>



            <div class="skill">

                <div class="skill-header">

                    <span>
                        Python
                    </span>

                    <span>
                        40%
                    </span>

                </div>


                <div class="bar">

                    <div class="progress python"></div>

                </div>

            </div>


        </div>


    </div>

</section>